
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Marvellous Restaurant Login Portal</h1>
                    <h5>You can login here!</h5>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()"> 
                  <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="text-danger">
                      Email is required
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Your password here">
                    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
                      Password is required
                    </div>
                  </div>
                  
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a style="color: blue; margin-top: 10px;" routerLink="/signup">New User? Click to Sign up</a>

            </div>
        </div>
    </div>
</div>